Repository LedgerHQ/ledger-live-desktop, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/ledger-live-maintainer, @ledgerhq/live-squad-yellow, @ledgerhq/live-squad-blue, @ledgerhq/live-qa, @machard

CODEOWNERS:

package.json  @ledgerhq/ledger-live-maintainer
/src/         @ledgerhq/live-squad-yellow @ledgerhq/live-squad-blue
/tests/       @ledgerhq/live-qa

# test
/src/index.js @machard

fix flow
  src/renderer/Default.js
Owners: @ledgerhq/live-squad-yellow, @ledgerhq/live-squad-blue

always display update/changed screenshots
  .github/actions/prepare-comment-body/index.js
Owners: none

correctly split things
  src/renderer/Default.js
  src/renderer/drawers/Drawer.js
  src/renderer/drawers/Provider.js
Owners: @ledgerhq/live-squad-yellow, @ledgerhq/live-squad-blue

update snapshots
  tests/specs/__image_snapshots__/wc-connect-confirmation-snap.png
  tests/specs/__image_snapshots__/wc-connect-connected-snap.png
  tests/specs/__image_snapshots__/wc-connect-signmessage-triggered-snap.png
  tests/specs/__image_snapshots__/wc-connect-transaction-triggered-snap.png
Owners: @ledgerhq/live-qa

wip: update WebPlatformPlayer
  src/renderer/components/WebPlatformPlayer/LiveAppIcon.js
  src/renderer/components/WebPlatformPlayer/TopBar.js
  src/renderer/components/WebPlatformPlayer/api.js
  src/renderer/components/WebPlatformPlayer/config.js
  src/renderer/components/WebPlatformPlayer/index.js
  src/renderer/images/platform/paraswap.png
  src/renderer/screens/exchange/swap/index.js
Owners: @ledgerhq/live-squad-yellow, @ledgerhq/live-squad-blue

fixes flow
  src/renderer/actions/settings.js
  src/renderer/experimental.js
  src/renderer/screens/account/BalanceSummary.js
  src/renderer/screens/accounts/AccountGridItem/Body.js
  src/renderer/screens/accounts/AccountList/Range.js
  src/renderer/screens/asset/BalanceSummary.js
  src/renderer/screens/dashboard/GlobalSummary.js
Owners: @ledgerhq/live-squad-yellow, @ledgerhq/live-squad-blue
